---
const { key, project, title, image } = Astro.props;

---

<a href={project.url}>
  <article
    class="w-44 h-full sm:w-56 md:w-60 p-3 border rounded-lg text-center flex flex-col gap-1 justify-around hover:scale-105 transition-all ease-in-out duration-200"
  >
    <p class="naranja font-black text-2xl md:text-3xl">Día {key + 1}</p>
    <p class="text-color text-xl md:text-2xl">{title}</p>
    <div class="aspect-video grid place-items-center" title={title}>
      <img src={image} alt={title}  />
  </article>
</a>
